In [1]:
!pip install fuzzywuzzy 
!pip install  python-Levenshtein

Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Collecting python-Levenshtein
  Downloading https://files.pythonhosted.org/packages/42/a9/d1785c85ebf9b7dfacd08938dd028209c34a0ea3b1bcdb895208bd40a67d/python-Levenshtein-0.12.0.tar.gz (48kB)
     |████████████████████████████████| 51kB 1.7MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python-Levenshtein) (50.3.0)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.0-cp36-cp36m-linux_x86_64.whl size=144791 sha256=46e7ff6d85c4e013ea0d2211fdbc265686fae766af380aff6075330bb25e4fdb
  Stored in directory: /root/.cache/pip/wheels/de/c2/93/660fd5f7559049268ad2dc6d81c4e39e9e36518766eaf7e342
Successfully built python-Levenshtein
Installing collected packages: python-Levenshtein
Successfully installed python-Levenshtein-0.12.0

In [2]:
#This notebook presents the final result with detecting the duplicates
#and returning the percentage of dupes and the clean  dataframe 
from fuzzywuzzy import fuzz
import pandas as pd
import time

In [3]:
def detect_duplicates(df):
    
    """Return the cleaned dataframe from duplicates and the percentage of duplicates
    found
    :param1 : the dataframe
    """
    #The three criteria we choose to detect a duplicate
    df1=df["given_name"] 
    df2=df["surname"]
    df3=df["phone_number"]
    #A list containing the row index of the duplicates
    dup_idx = []
    #Copy of the dataframe so we can compare it to the original
    df_clear=df.copy()
  

    for i in range(len(df1.values)-1):
        
        for j in range(i+1,len(df1.values)):
            
            if fuzz.token_sort_ratio(df1.values[i], df1.values[j]) >= 75 and fuzz.token_sort_ratio(df2.values[i], df2.values[j]) >= 75 and  df3.values[i]==df3.values[j]:
                
                dup_idx.append(df1.index[j])

    df_clear = df.drop(df.index[dup_idx])
    percentage = round((len(dup_idx)/len(df))*100,2)
   
      
    return  percentage,df_clear

In [5]:
#Reading our csv and dataframe

df_patient = pd.read_csv("df_dedup_clean.csv")
df_patient

       patient_id given_name  ... dob_updated  age_final
0          221958    matisse  ...        1971         49
1          771155     joshua  ...        1912        108
2          231932      alice  ...        1981         39
3          465838     sienna  ...        1984         36
4          359178     joshua  ...        1934         86
...           ...        ...  ...         ...        ...
19995      368617       abby  ...        1957         63
19996      796658       dale  ...        1959         61
19997      511885    alessia  ...        1994         26
19998      985932     hannah  ...        1914        106
19999      925217       jack  ...        1923         97

[20000 rows x 12 columns]

In [6]:
#Detect and duplicates 
#We choose the name, surname and phone_number as criteria for detecting the dupes
#generally speaking they're the most "trustworthy" data and allows to really filter
#the persons. 

start = time.time()
pourcentage,df_clear = detect_duplicates(df_patient)
end = time.time()
print(end - start)

2124.5248811244965

In [7]:
print("Time execution is {:.1f} min".format(round((end - start)/60),1))

Time execution is 35.0 min

In [8]:
print("Percentage of duplicates is {}%".format(pourcentage))

Percentage of duplicates is 7.43%

In [9]:
#Display new clean dataframe
df_clear

       patient_id given_name  ... dob_updated  age_final
0          221958    matisse  ...        1971         49
1          771155     joshua  ...        1912        108
2          231932      alice  ...        1981         39
3          465838     sienna  ...        1984         36
4          359178     joshua  ...        1934         86
...           ...        ...  ...         ...        ...
19995      368617       abby  ...        1957         63
19996      796658       dale  ...        1959         61
19997      511885    alessia  ...        1994         26
19998      985932     hannah  ...        1914        106
19999      925217       jack  ...        1923         97

[18955 rows x 12 columns]

In [10]:
print("{} of rows were deleted".format(20000-len(df_clear)))

1045 of rows were deleted

In [11]:
#Save the new clean dataframe 
df_clear.to_csv('df_patient_clear_final_f.csv',index=False)

In [36]:
#We define the following test in the test.py file
def test_detect_duplicates():

    """This test function assure that duplicates were removed
       We tested it on the file df_patient_dup which contains
       all the dupes from the first 10 000 entries of our dataframe

    """
    assert detect_duplicates(df)!=(0,df)

In [33]:
!python -m pytest test.py

============================= test session starts ==============================
platform linux -- Python 3.6.9, pytest-3.6.4, py-1.9.0, pluggy-0.7.1
rootdir: /content, inifile:
plugins: typeguard-2.7.1
collected 1 item

test.py .                                                                [100%]

=========================== 1 passed in 2.53 seconds ===========================

In [38]:
#These are complementary/optionnal tests
import pandas.api.types as ptypes
from pandas._testing import assert_frame_equal

        
def test_verify_dataframe(param1,param2,param3,param4=None):
    
    """Assert that the dataframe given as criteria are Object types 
    :param param1 : the percentage of duplicates, 
    :param param2 : the original dataframe
    :param param3 : the cleaned dataframe
    :param param4 : the expected dataframe (if available)

    """
    
  
    if param1 !=0:
        assert len(param3)<len(param2)
    else:
        
        assert_frame_equal(param3, param2) #if there is no duplicates 
  
    if param4 is not None:
        
        assert_frame_equal(param4, param3)
    


def test_verify_dtypes(param1,param2,param3):
    """Assert that the columns given as criteria are Object types 
    :param param1 : the dataframe, 
    :param param2 : the selected criteria column of the dataframe
    :param param3 : the selected criteria column of the dataframe

    """
  
    assert ptypes.is_string_dtype(param1[param2]) and ptypes.is_string_dtype(param1[param3])

In [39]:
test_verify_dataframe(pourcentage,df_patient,df_clear,param4=df_clear)
test_verify_dtypes(df_patient,"given_name","surname")